@import "../globals.scss";

.Dashboard {
    display: flex;
    background-color: $offLight;
}

.DashboardContent {
    background-color: $offLight;
    width: 100%;
    max-width: 100%;
    margin-left: 260px;
    min-height: 100vh;
}

.DashboardContent button {
    padding: 0.25rem 0.5rem;
    box-shadow: $closeShadow;
    color: $offDark;
    background-color: $light;
    transition: all ease-in-out 0.1s;
}

.DashboardContent button:hover {
    transform: translateY(-2px);
    color: $darkest;
}
