@import "../globals.scss";

.DashboardHeader {
    height: calc(90px - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: $offDark;
    color: $light;
}

.HeaderPath {
    background-color: $offLight;
    color: $offDark;
    padding: 0.75rem 1.5rem;
    border-radius: $radiusXs;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderPath a {
    color: $offDark;
    height: 20px;
    text-decoration: none;
    margin-right: 0.5rem;
    transition: ease-in-out all 0.1s;
}

.HeaderPath a:hover {
    color: $dark;
}

.HeaderPathPart {
    text-transform: capitalize;
}

.HeaderPathSlash {
    margin-right: 0.5rem;
    color: $mid;
}

.HeaderProfileLink {
    display: flex;
    align-items: center;
}

.HeaderProfileLink a {
    text-decoration: none;
    color: $light;
    margin-right: 1rem;
    transition: ease-in-out all 0.1s;
}

.HeaderProfileLink a:hover {
    color: $mid;
}
