@import "../globals.scss";

.Ticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem 2rem;
}

.TicketContent {
    padding: $contentPadding;
    padding-top: 0;
}

.TicketSubHeading {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.TicketRow {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px 1rem;
    margin-bottom: 1rem;
}

.TicketRow2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 0px 1rem;
}

.TicketRowSingleCol {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
}

.TicketTag {
    font-size: 0.825rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    color: $offLight;
    width: fit-content;
    border-radius: $radiusR;
}

.TagGreen {
    background-color: $green;
}

.TagOrange {
    background-color: $orange;
}

.TagAlert {
    background-color: $alert;
}
.TagBlue {
    background-color: $blue;
}

@media screen and (max-width: $m) {
    .Ticket {
        grid-template-columns: 1fr;
        gap: 0 0;
    }

    .TicketRow {
        grid-template-columns: 1fr 2fr;
    }

    .TicketRow2 {
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1rem;
    }
}
