// Fonts

$mainFont: "Source Sans Pro", sans-serif;

// Colors

$dark: #3d516f;
$offDark: #7d8fe8;
$mid: #adb5bd;
$light: #fff;
$offLight: #f7f7fe;

// Borders

$radiusSm: 7px;
$radiusXs: 4px;

// Shadows

$mainShadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
$closeShadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
