@import "../../globals";

.DeleteUser {
    position: sticky;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.DeleteUserWrapper {
    width: 400px;
}

.DeleteUserButtons {
    padding: $contentPadding;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

.DeleteUserButtons button {
    padding: 0.5rem 1rem !important;
    width: calc(45%);
    background-color: $offDark;
    color: $light;
}
