@import "../../globals";

body {
    background: rgb(122, 105, 224);
    background: linear-gradient(
        335deg,
        rgba(122, 105, 224, 1) 0%,
        rgba(125, 143, 232, 1) 76%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Auth {
    max-width: 100vw;
}

.AuthContent {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.AuthLink {
    font-size: 0.9rem;
    color: $mid;
    margin-bottom: 1.5rem;
}

.AuthLink a {
    color: $dark;
    text-decoration: none;
    transition: all ease-in-out 0.15s;
}

.AuthLink a:hover {
    color: $offDark;
    text-decoration: none;
}

.AuthError {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 36%);
    padding: 1rem 2rem;
    border-radius: $radiusSm;
    background-color: $offLight;
    color: $alert;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: $mainShadow;
    animation: errorAnimation $transitionFast 5s forwards;
}

@media screen and (max-width: $l) {
    .AuthContent {
        width: 900px;
    }
}

@media screen and (max-width: $m) {
    .AuthContent {
        width: 99%;
    }
}

@media screen and (max-width: $xs) {
    .AuthFormContainer {
        width: calc(95% - 6rem);
    }

    .AuthHeading p {
        width: calc(95% - 6rem);
    }
}

@keyframes errorAnimation {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: translate(-50%, 36%) scale(0.975);
    }
    20% {
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%, 36%) scale(1);
    }
    80% {
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%, 36%) scale(1);
    }
    100% {
        opacity: 0;
        filter: blur(10px);
        transform: translate(-50%, 36%) scale(0.975);
    }
}
