@import "../../globals";

.AuthHeading {
    margin-top: calc(8vh - 2rem);
    text-align: center;
    color: $light;
}

.AuthHeading h1 {
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: $light;
}

.AuthHeading p {
    width: calc(460px - 6rem);
    margin: 0 auto;
}

.LoginName {
    display: flex;
    justify-content: space-between;
}

.LoginName div {
    width: calc(49% - 1rem);
}

.LoginInputWrapper {
    width: calc(100% - 1rem);
    padding: 0.825rem 0.5rem;
    color: $mid;
    box-shadow: $closeShadow;
    border-radius: $radiusXs;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.LoginPasswordStrength {
    color: $mid;
    margin: 1rem 0 0 0;
    font-style: italic;
    font-size: 0.9rem;
}

.LoginPasswordStrength span {
    font-weight: 600;
}

.LoginValidate {
    color: indianred;
    font-size: 0.9rem;
}

.LoginButtonContainer {
    display: flex;
    justify-content: space-around;
}

.AuthLink {
    font-size: 0.9rem;
    color: $mid;
}

.AuthLink a {
    color: $dark;
    text-decoration: none;
    transition: all ease-in-out 0.15s;
}

.AuthLink a:hover {
    color: $offDark;
    text-decoration: none;
}

@media screen and (max-width: $xs) {
    .AuthHeading p {
        width: calc(100% - 6rem);
        margin: 0 auto;
    }
}
