@import "../globals";

body {
    background: rgb(122, 105, 224);
    background: linear-gradient(
        335deg,
        rgba(122, 105, 224, 1) 0%,
        rgba(125, 143, 232, 1) 76%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Auth {
    max-width: 100vw;
}

.AuthContent {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.AuthHeading {
    margin-top: calc(8vh - 2rem);
    text-align: center;
    color: $light;
}

.AuthHeading h1 {
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: $light;
}

.AuthHeading p {
    width: calc(460px - 6rem);
    margin: 0 auto;
}

.AuthFormContainer {
    width: calc(460px - 6rem);
    padding: 2rem 3rem;
    background-color: $offLight;
    border-radius: $radiusSm;
    margin: 8vh auto 10vh auto;
    box-shadow: $mainShadow;
}
.AuthFormContainer form {
    margin-top: 1rem;
}

.AuthFormContainer input {
    width: calc(100% - 0.5rem);
    font-weight: 500;
    background-color: $offLight;
}

.AuthFormContainer svg {
    fill: $mid;
    margin-right: 0.25rem;
}

.AuthFormContainer button {
    background-color: $offDark;
    color: $light;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    margin: 2rem auto;
    border: 2px solid $offDark;
    transition: all ease-in-out 0.15s;
}

.AuthFormContainer button:hover {
    background-color: $light;
    color: $offDark;
}

.AuthLink {
    font-size: 0.9rem;
    color: $mid;
    margin-bottom: 1.5rem;
}

.AuthLink a {
    color: $dark;
    text-decoration: none;
    transition: all ease-in-out 0.15s;
}

.AuthLink a:hover {
    color: $offDark;
    text-decoration: none;
}

@media screen and (max-width: $l) {
    .AuthContent {
        width: 100vw;
    }
}

@media screen and (max-width: $xs) {
    .AuthFormContainer {
        width: calc(95% - 6rem);
    }

    .AuthHeading p {
        width: calc(95% - 6rem);
    }
}
