@import "../globals.scss";

.AuthContainer {
    width: calc(460px - 6rem);
    padding: 2rem 3rem;
    background-color: $offLight;
    border-radius: $radiusSm;
    margin: 8vh auto 10vh auto;
    box-shadow: $mainShadow;
}
.AuthContainer form {
    margin-top: 1rem;
}

.AuthContainer input {
    width: calc(100% - 0.5rem);
    font-weight: 500;
    background-color: $offLight;
}

.AuthContainer svg {
    fill: $mid;
    margin-right: 0.25rem;
}

.AuthContainer button {
    background-color: $offDark;
    color: $light;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    margin: 2rem auto;
    border: 2px solid $offDark;
    transition: all ease-in-out 0.15s;
}

.AuthContainer button:hover {
    background-color: $light;
    color: $offDark;
}

@media screen and (max-width: $s) {
    .AuthContainer {
        width: calc(95% - 6rem);
    }
}
